.webuploader-container {
	/*position: relative;*/
	/*overflow: hidden;*/
	/*background: #d8b2ff;*/
	/*width:100%;*/
	/*height:34px;*/
	/*z-index: 20;*/

}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	background: white;
	border:1px solid rgba(204,204,204,0.17);
	color: black;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	left: 13px;
	top: 0;
	width: 125px;
	height: 28px;
	line-height: 28px;
}
.webuploader-pick-hover {
	background: rgb(255, 251, 251);
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
.state1{display: none;}
.btns{position: relative;}
#WU_FILE_0 h4,#WU_FILE_1 h4,#WU_FILE_2 h4,#WU_FILE_3 h4{
	width: 100px;
	display: inline-block;
}
.btn-default{

}
.btns{
	position: relative;

}
.uploader-list{
	width: 135px;
	margin-left: 10px;
}
.uploader-list .item{
	width:100%;
}
.btn-default{
	width:70px;
	height:28px;
	border:1px solid rgba(194,194,194,0.5);
	margin:0;
	padding:0;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}
.illnessname-input{
	height:22px;
}
.illnessname{
	width:130px;
}


