.w33pre{
	width:33%;
}

.w34pre{
	width:34%;
}

.w50pre{
	width:50%;
}

.w100pre{
	width:100%;
}
.page {
    padding: 9px 20px 20px;
    text-align: left;
}
.info-panel {
	
}

.info-panel dl {
	width: 31%;
	float: left;
	margin: 30px 2% 0 0;
	border: solid 1px #eee;
	overflow: hidden;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.info-panel dl:hover {
	border-color: #bbb;
	box-shadow: 3px 3px 0 #f5f5f5;
}

.info-panel dl dt {
	text-align: center;
	padding: 20px 0 20px 0;
}

.info-panel dl dt .ico {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background-color: #4c9cd0;
	border-radius: 32px;
	position: relative;
	z-index: 1;
}

.info-panel dl dt .ico i {
	background: url(../images/sky/bg-panel.png) no-repeat;
	width: 32px;
	height: 32px;
	margin: -16px auto auto -16px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
}

.info-panel dl.member dt .ico i {
	background-position: 0px 0px;
	font-size:25px;
	color:#fff;
}

.info-panel dl.shop dt .ico i {
	background-position: -32px 0px;
	font-size:25px;
	color:#fff;
}

.info-panel dl.goods dt .ico i {
	background-position: -64px 0px;
	font-size:25px;
	color:#fff;
}

.info-panel dl.trade dt .ico i {
	background-position: -96px 0px;
}

.info-panel dl.operation dt .ico i {
	background-position: -128px 0px;
}

.info-panel dl.cms dt .ico i {
	background-position: 0px -40px;
}

.info-panel dl.circle dt .ico i {
	background-position: -32px -40px;
}

.info-panel dl.microshop dt .ico i {
	background-position: -64px -40px;
}

.info-panel dl.system dt .ico i {
	background-position: -160px 0px;
}

.info-panel dl dt .ico sub {
	background-color: #FFF;
	height: 18px;
	padding: 2px;
	border-radius: 12px;
	position: absolute;
	z-index: 1;
	top: -4px;
	left: 40px;
}

.info-panel dl dt .ico sub span {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	color: #4c9cd0;
	background-color: #FFF;
	text-align: center;
	display: block;
	min-width: 8px;
	height: 16px;
	padding: 0 4px;
	border: 1px solid #4c9cd0;
	border-radius: 10px;
}

.info-panel dl dt .ico sub span em {
	font-weight: 700;
}

.info-panel dl dt h3 {
	font-size: 24px;
	font-weight: 100;
	line-height: 30px;
	color: #4c9cd0;
	margin: 5px 0 0 0;
}

.info-panel dl dt h5 {
	font-size: 12px;
	font-weight: 100;
	line-height: 20px;
	color: #999;
	margin: 5px 0 0 0;
}

.info-panel dl dt #system-info {
	width: 96%;
	height: 55px;
	margin: 6px auto 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.info-panel dl dt ul li {
	line-height: 20px;
	font-weight: 700;
	color: #999;
}

.info-panel dl dt ul li span {
	font-family: Tahoma;
	font-weight: 100;
	font-size: 11px;
	margin-left: 8px;
}

.info-panel dl dd {
	border-top: solid 1px #eee;
	margin:0px;

}

.info-panel dl dd ul {
	panding:0px;
	margin:0px;
	font-size: 0;
	*word-spacing: -1px /*IE6、7*/;
}

.info-panel dl dd li {
	text-align: center;
	display: inline-block;
	*display: inline /*IE7*/;
	margin-left: -1px;
	border-left: solid 1px #DEEFFB;
	zoom: 1;
}

.info-panel dl dd li a {
	font-size: 14px;
	color: #4c9cd0;
	line-height: 20px;
	display: block;
	height: 20px;
	padding: 10px 0;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.info-panel dl dd li sub {
	font-family: Tahoma;
	font-size: 11px;
	line-height: 16px;
	color: #FFF;
	text-align: center;
	display: block;
	min-width: 8px;
	height: 16px;
	padding: 0 4px;
	border: solid 2px #FFFFFF;
	border-radius: 10px;
	position: absolute;
	z-index: 1;
	top: -10px;
	left: 85%;
}

.info-panel dl dd li sub em {
	font-weight: 700;
}

.info-panel dl dd li.high sub {
	background-color: #f97;
}

.info-panel dl dd li.normal sub {
	background-color: #4c9cd0;
}

.info-panel dl dd li.none sub {
	visibility: hidden;
	display: none;
}

.info-panel dl dd li.high a {
	font-weight: 400;
	color: #f26c4f;
	-webkit-transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-o-transition: background-color .1s linear;
	transition: background-color .1s linear;
}

.info-panel dl dd li.high:hover, .info-panel dl dd li.high:hover a {
	background-color: #f97;
	color: #FFF;
	text-decoration: none
}

.info-panel dl dd li.normal a {
	color: #4c9cd0;
}

.info-panel dl dd li.none a {
	color: #888;
	-webkit-transition: background-color .1s linear;
	-moz-transition: background-color .1s linear;
	-o-transition: background-color .1s linear;
	transition: background-color .1s linear;
}

.info-panel dl dd li.normal:hover, .info-panel dl dd li.normal:hover a,
	.info-panel dl dd li.none:hover, .info-panel dl dd li.none:hover a {
	background-color: #4c9cd0;
	color: #FFF;
	text-decoration: none
}