.op_sectionleft{
    width: 180px;
    overflow: hidden;
    box-shadow: 0 0 2px 1px #ccc inset;
    height: 770px;
}
.op_sectionright{
    overflow: hidden;
}
.op_wrap{
    width:98%;
    padding:10px;
    background: #fafafa;
}
.hy_p1{
    line-height: 26px;
    color: #000;
}
.hy_box{
    margin-left: 30px;
    overflow: hidden;
}
.hy_spanposi{
    position: relative;
    margin-left: 16px;
    margin-right: 10px;
}
.hy_input{
    position: absolute;
    top:-3px;
    left: -15px;
}
.hy_nav{
    height:26px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    line-height: 26px;
}
.hy_li2{
    position: absolute;
    width:90px;
    height:27px;
    line-height: 27px;
    text-align: center;
    bottom:-1px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
}
.hy_li1{
    margin-left: 30px;
}
.hy_li3{
    left:104px;
}
.hy_li4{
    left:200px;
}
.hy_liactive{
    color: #396194;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    background: #fafafa;
}


.hy_navbox{
    display: none;
}
.hy_navwrap{
    overflow: hidden;
    margin: 10px 0;
    padding:10px;
    border: 1px solid #ccc;
    height:533px;
}
.hy_navwrap .hy_disactive{
    display: block;
}
.level0{

}
.hy_bianjileft{
    width: 500px;
    margin-left: 46px;
    padding: 20px 50px;
    position: relative;
    background: #EEE url("../css/img/mail-top.png") repeat-x 0 0;
}
.hybianji_boxtoplabel{
    text-align: center;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: 35px;
}
/*6da4e7*/
.hy_btn1{
    background: url("../css/img/btn25.gif") repeat-x 0px -27px;
}
.hy_btn1:hover{
    background: #6da4e7;
}
.hy_bianjiright{
    width:200px;
    overflow: hidden;
    background: url("../css/img/add_temp.png") no-repeat -390px 100%;
}
.add_temptop{
    text-align: center;
    font-weight: normal;
    height: 32px;
    color: #666;
    line-height: 32px;
    background: #fff url("../css/img/add_temp.png") no-repeat 0 0;
}
.add_temp_listi{
    display: inline-block;
    width:24px;
    height:24px;
    background: url("../css/img/add_temp.png") no-repeat -584px -3px;
}
.add_temp_listli{
    overflow: hidden;
    border-top: 1px solid #DCDDDC;
    margin: 0 7px;
    height:26px;
    line-height: 26px;
}
.add_temp_listspan{
    color: #29568f;
    cursor: pointer;
}
.add_temp_list{
    background: url("../css/img/add_temp.png") repeat-y -198px 0;
    margin-left: 6px;
    width:187px;
}
.add_temp{
    margin-top: 30px;
}
.hy_phonebianji{
    width: 266px;
    height: 309px;
    position: relative;
    padding: 54px 30px 54px 31px;
    background: url("../css/img/phone_bg.png") no-repeat 0 0;
    margin-left: 98px;
}
.hy_phonetextabox{
    overflow: hidden;
}
.hy_phonetextabox .hy_phonetexta{
    height:212px;
    display: inline-block;
    margin-top: 10px;
}
.hy_phonetextaboxbtm,.hy_phonetextaboxbtm span{
    font-size: 20px;
}
.hy_phonetextaboxbtmleft{
    color: #75AC5A;
}
.add_temp_listli:hover{
    background: #DBECF7;
}